body {
  margin: 0px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2.1fr;
  gap: 32px;
  padding: 32px;
  grid-template-areas: 
  "left right";
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}