body {
  margin: 0px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2.1fr;
  gap: 32px;
  padding: 32px;
  grid-template-areas: 
  "left right";
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
}

.personalDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "left right";
}

.personalDetailsLeft {
  display: grid;
  grid-template-rows: 1fr 0.5fr 1fr;
}

.fullName{}

.jobTitle{}

.summaryTitle{}

.personalDetailsRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "email phone"
  "location linkedin"
  "website github";
}

.personalDetailsRight > div {
  max-height: 50px;
}

.summary {

}

.skills {
  
}